# Ficheiros temporarios e backups locais
*.ldb
*.log
*.tmp
*.backup-*.json
*-backup-*.json
*-antigo-*.json
recuperado-*.json
recover-*.js
docx-extraido/
vercel-protegido/public/
vercel-protegido/.vercel/
vercel-protegido/node_modules/
vercel-protegido/.gitignore

# Sistema
Thumbs.db
.DS_Store
